[2021-11-17 17:43] 04116 opened #481 "export handleCreateRoom function to force create room for the current process"
https://github.com/colyseus/colyseus/blob/0dc966f9f3e161c63a7929486beaa8a6e11a7e2d/packages/core/src/MatchMaker.ts#L255

Hi, @endel Thank you so much for your hard work,
Now I am using your framework to build an authorized game server
I need force to create room for the current process. I think it's still OK cause proxy pick process by round-robin algorithm.

[2021-11-17 17:46] endel commented on #481
Hi @04116, thanks for your kind words.

I think this is a reasonable feature request, I'm wondering if you could share a little bit of your use case, just out of curiosity?

Cheers!

[2021-11-18 02:00] 04116 commented on #481
Hi @endel, thank you so much for the quick reply,
My case is I have a room tree, I need easier to check relationship, broadcast a message to them, so I need to put them into a process.

[2021-11-20 01:45] #217 closed

[2021-11-22 06:38] AnkoGo123 opened #482 "cocos creator2.4.6按照您的官方文档无法正常运行，请指教下"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Colyseus Version:
* Node.js Version:
* Operating System and version:
* Link to your project:

[2021-11-22 15:18] Zoorack opened #483 "OnStateChange is not triggered after State changes on Serverside"
After updating my dependencies on Server and Client no one Roomstate arrived to Client.

Other functions as send or broadcast work as exspected

I tryd with and without Schema Serializer, without Schema Serializer i take an TypeError: Bytes not iterateable
After setting up Schemaserializer complete connection from client to room succeed but nothing state changes arrived at client.

the handler onS

[2021-11-22 16:52] endel commented on #483
Hi @Zoorack, can you share a repository where we can reproduce the behavior you're seeing?

If you can provide more details like which browser are you testing against, front-end framework & build tools that could help figuring it out as well. Cheers!

[2021-11-22 17:47] endel commented on #482
Could you provide more info @AnkoGo123?
@CocosGames can you help mediate the conversation here? 😅

[2021-11-23 07:59] Zoorack commented on #483
Hi @endel,

i used EXPO (41) as front-end framework with typescript. Issue across all devices that i try
On serverside i work also with typescript and use the default transport from colyseus.

Server dependencies:
[code]
"dependencies": {
    "@expo/vector-icons": "12.0.5",
    "@react-native-community/masked-view": "0.1.10",
    "@react-native-community/picker": "1.6.6",
    "@react-native-commun

[2021-11-23 09:25] Zoorack commented on #483
I build a small repo with a server.
on building i try to see more with colyseus/monitor.. but on colyseus/monitor is the state also empty as on clients.

colyseus client goes through a own api not websocket and have the same issue... on the repo with server i can reproduce it.

Repo: https://git.stockklauser.eu/fstockkl/colyseus-test

Screenshots from monitor:

<img width="1207" alt="Bildschirmfot

[2021-11-24 04:55] AnkoGo123 commented on #482
So more info i provided，i think you should try Cocos Creator2.4.6 And then you will find it not to run by reading your document guide

[2021-11-24 09:16] CocosGames commented on #482
您好，@AnkoGo123, 官方文档里介绍的方法是针对 Cocos Creator 3 的，因为 Cocos Creator 3 升级了插件导入方式，所以不能用于 2.4.6 版本。 如果 Cocos Creator 2 的用户比较多，我们会尽快更新针对 Cocos Creator 2 的教程。

[2021-11-24 09:50] Zoorack commented on #483
Hi @endel, i solved the Problem after reconfigure tsconfig.json.

I found a few difference to your colyseus-example problem and now the colyseus server log (DEBUG=colyseus:*) show me patches of state... before nothing patch log logged from colyseus-server

[2021-11-24 09:50] #483 closed

[2021-11-24 12:34] endel commented on #483
I'm glad you've fixed it!

I'm curious what change you've made to your `tsconfig.json` that made this odd behaviour happen in the first place? Do you possibly have your old `tsconfig.json` to share here?

[2021-11-24 15:50] AnkoGo123 commented on #482
我不是用插件的方式的，是用引入脚本的方式的，还是我自己有空改下吧，

[2021-11-24 16:01] AnkoGo123 commented on #482
目前我看到这个框架功能比较齐全，所以想体验下他的设计思路，后续希望将他优化改成go或者rust版本，以提高生产所需要的性能，非常感谢各位的帮助！thanks!

[2021-11-24 17:27] AnkoGo123 commented on #482
cocos creator3.1.1 can run under the SDK， so lucky

[2021-11-25 12:03] Zoorack commented on #483
Hey @endel,

Sure, here my old and my new `tsconfig.json` file

OLD `tsconfig.json`
[code]

NEW `tsconfig.json`
[code]

[2021-11-29 10:23] jldinh commented on #466
bump

[2021-11-29 10:24] jldinh commented on #467
bump

[2021-12-07 21:10] LeakedDave commented on #324
Thanks for this.

[2021-12-07 22:49] LeakedDave commented on #324
I'd hope tick B cannot run until tick A completes.

[2021-12-08 02:37] Lumyo commented on #324
It can't, in both case

[2021-12-08 18:38] Shaunmax opened #486 "Need Client Support for AS3 - Adobe AIR SDK"
Hello,

Could you please provide client support for AS3 - AIR SDK too.
If it requires any funding, please let us know, our AIR/Starling/Feathers community would definitely contribute.

Thanks

[2021-12-10 13:08] endel commented on #486
Hi @Shaunmax,

I appreciate your interest but supporting an AS3 client would be a major effort for us, and there aren't many AS3 users to justify the efforts of developing and maintaining an SDK for it.

You're encouraged to go ahead and make your own port from the TypeScript version to AS3, as the syntax is very similar.

---

We're open for discussion, though, feel free to reach out using this f

[2021-12-10 13:08] #486 closed

[2021-12-12 11:38] a6336747 commented on #482
cocos creator 2.4.X 可直接使用这个版本
https://github.com/colyseus/colyseus.js/releases
只要将colyseus.js colyseus.d.ts 解压到项目目录即可，无需将js引用插件
引用方式
import * as Colyseus from "你的colyseus路径"

已确定可用，微信小游戏上运行了好2个多月了，很稳定

[2021-12-12 11:47] CocosGames commented on #482
赞哦👍用户说好才是真的好！ ---- On 星期日, 12 十二月 2021 03:38:52 -0800  ***@***.***  wrote ----

cocos creator 2.4.X 可直接使用这个版本

https://github.com/colyseus/colyseus.js/releases

只要将colyseus.js colyseus.d.ts 解压到项目目录即可，无需将js引用插件

引用方式

import * as Colyseus from "你的colyseus路径"

已确定可用，微信小游戏上运行了好2个多月了，很稳定

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe

[2021-12-12 12:12] CocosGames commented on #482
This issue can be closed.

[2021-12-13 18:39] Aarju-coder commented on #343
How did you solved it?

[2021-12-13 18:39] Aarju-coder commented on #343
I have the same issue and can't find anything regarding this.

[2021-12-13 18:41] endel commented on #343
Hi @Aarju-coder, please open a new issue with your specific use-case, the more details you can share the better (server-side source-code, client-side source-code, etc.) so we can help you

Cheers

[2021-12-27 01:52] #481 closed

[2021-12-27 01:52] #480 closed

[2021-12-31 22:33] craig1123 opened #487 "Feature: Add multiple clients to `except` IBroadcastOptions"
## Context
Be able to broadcast to all clients except an array clients. Right now, you can only do one client exception

It would be a breaking change though for those who already have implemented the broadcastOption `except`. You could make it an option in typescript to do either Client or an Array on Clients with a deprecation warning later.

[code]

After looking through the code in Room.ts, yo

[2022-01-04 12:52] hdev72 opened #488 "error TS2345: Argument of type 'typeof RankedLobbyRoom' is not assignable to parameter of type 'Type<Room<any, any>>"
hello dear friends
after i change colyseus version from 11 tp 14... im getting this error

pls help me

src/index.ts:24:21 - error TS2345: Argument of type 'typeof RankedLobbyRoom' is not assignable to parameter of type 'Type<Room<any, any>>'.
  Construct signature return types 'RankedLobbyRoom' and 'Room<any, any>' are incompatible.
    The types of 'onMessage' are incompatible between these type

[2022-01-04 12:59] endel commented on #488
Hi @hdev72, nice to see you're migrating towards the new version, we're about to release version 0.15 very soon, a blog post is going to follow with the announcement.

This error is because `onMessage()` works differently now, you can read about this breaking change here: https://docs.colyseus.io/colyseus/migrating/0.13/#onmessage-has-been-reworked

As you're migrating from 0.11 to 0.14, I'd recom

[2022-01-04 16:26] endel commented on #487
Thanks for the suggestion @craig1123, this is going to land on 0.15 soon

[2022-01-05 01:33] craig1123 commented on #487
Excellent @endel, fast turn around. Great project and can't wait to contribute more. I'll probably find more stuff as I finish my card game 😄

[2022-01-08 01:17] amit-gshe opened #489 "RoomCountKey should be unique by deferent room class"
Now if we use RedisPresence, all the room types will use a same room count key. Its ok when there is just one room type in the presence and the room will be created on a fewer rooms process.

But when we have two types of processes and one type of processes for battle rooms and one another for lobby rooms. The lobby processes do not define a battle room. For now the lobby room will received the ba

[2022-01-09 18:13] karneaud commented on #467
bump

[2022-01-10 12:46] endel commented on #467
Hi @karneaud @jldinh, sorry this was closed automatically. I'm assigning a milestone so it won't auto-close again.

Does this happen when `roomId` is a number, or it doesn't matter if it's a number and/or string?

[2022-01-10 13:13] karneaud commented on #467
@endel never tried it with a number but did not work as a string. But I solved my issue by defining/ using another custom property and it seems to work

[2022-01-10 16:28] jldinh commented on #467
@endel I also only tried with strings.

[2022-01-11 12:34] hdev72 opened #490 "onAuth in colyseus 11 getting errors when return false"
hello dear friends
im using colyseus 11 and cant import ServerError so without ServerError i try onAuth
im getting this error when trying onAuth

Error: onAuth failed.
    at GameRoom.<anonymous> (D:\Android_Studio\Projectss\PlayMafia\Server matchmaking colyseus\serverRanked\node_modules\colyseus\lib\Room.js:266:31)
    at Generator.next (<anonymous>)
    at fulfilled (D:\Android_Studio\Projectss\

[2022-01-12 13:59] hdev72 commented on #488
thank you so much
problem resolved

[2022-01-12 13:59] #488 closed

[2022-01-12 14:00] hdev72 commented on #490
please help me guys

[2022-01-14 05:57] oyed commented on #490
Hey there - if `onAuth` returns `false` or throws an `Error`, then entry to the room is denied. Return true or any other value to allow entry.

[2022-01-14 05:57] #490 closed

[2022-01-14 09:02] hdev72 opened #491 "how create game handler methods in class extends from Room? [ resolved ]"
hello dear friends
im getting error when calling methods in class extends from room
( i think methods with non input like triggerPhaseEnd working but method startNextPhase not work )

here is my example :

onJoin?(client: Client, options?: any, auth?: any): void | Promise<any> {
  logger('Game Room onJoin');

   setTimeout(this.triggerPhaseEnd, 1000);
}

triggerPhaseEnd(): void{
    this.startNext

[2022-01-14 11:34] hdev72 commented on #491
i found a good example it
https://github.com/halftheopposite/TOSIOS/blob/master/packages/server/src
( methods should on game state class)

[2022-01-14 11:34] #491 closed

[2022-01-21 19:05] endel commented on #492
Moved this issue from `@colyseus/schema` to here for tracking & visibility.
Thanks @snowpuddles for making this reproducible at https://github.com/snowpuddles/colyseus-test

[2022-01-21 19:09] endel commented on #364
@vitalyrotari @serjek apparently this has been finally fixed on the react-native side! https://github.com/facebook/react-native/commit/86db62b7a8b28ac82dd0a0627a8b6c351875f682

[2022-01-21 19:49] serjek commented on #364
yeah, i saw PR was merged, looking forward to try that out when they roll out new RN version!

[2022-01-24 18:03] CookedApps opened #494 "Matchmaker: Malformed JSON causes server to crash"
## Steps to Reproduce
1. Start the Colyseus game server as usual
2. Send a matchmake request with malformed body:
`curl --location --request POST 'http://localhost:2567/matchmake/create/lobby' \
--header 'Content-Type: application/json' \
--data-raw '{u}'`
3. Server crashes

## Context
We noticed our server crashing with the following error:
[code]

## Expected behaviour
The server does not crash

[2022-01-24 18:05] CookedApps commented on #494
**Suggested fix**: Moving the `JSON.parse` just one line down into the try/catch resolves the issue.
https://github.com/colyseus/colyseus/blob/0dc966f9f3e161c63a7929486beaa8a6e11a7e2d/packages/core/src/Server.ts#L261

[2022-01-24 21:35] endel commented on #494
Thanks for reporting @CookedApps, this has been fixed now at:
 - @colyseus/core@0.14.26
 - @colyseus/uwebsockets-transport@0.14.27

[2022-01-24 21:35] #494 closed

[2022-01-24 21:50] CookedApps commented on #494
@endel Wow, thank you for that quick fix!

[2022-01-26 13:18] Sh1d0w opened #495 "Error: "refId" not found: 2"
I've searched the issues of this repo and seems like this was already fixed a year ago, but it is happening for me on the latest version.

## Steps to Reproduce (for bugs)

1. Join new room
2. Do an action
3. Join another room of same type
4. Try to do the same action, from now on you will always see `Error: "refId" not found: 2` (with different numbers at the end).

## Context

## Your Environmen

[2022-01-26 13:32] endel commented on #495
Hi @Sh1d0w, thanks for sharing, I've had a quick look over the sources and I suspect it is related to `@filterChildren()`. Will inspect further during the week

[2022-01-26 13:36] Sh1d0w commented on #495
Thanks @endel

I also suspected it as well, so I already tried to remove it before I opened the issue. It still reproduces the same issue.

I managed to narrow the issue to the Sit command. You can see my commits in the server repo. If you checkout the previous one from the latest it works without this error. But it does not works on the latest version.

The only difference is that in the commit t

[2022-01-29 21:55] hdev72 opened #500 "Sometimes this.send in colyseus 11 doesnt receive in client side"
Hello dear friends
I have a problem
Sometimes this.send in colyseus 11 doesnt receive in client side
Its not allways, without any change in codes some times message from server doesnt receive in client (android)
Is there any way to solve it?

[2022-01-30 09:13] hdev72 commented on #500
Maybe this problem only exists in version 11 and can be solved by migrating to 14?
The problem is that I can not upgrade the client side that is Android
  Is it possible that the server is version 14 and the client is version 11 and it works well?

[2022-01-31 07:45] lpsandaruwan commented on #500
Hi @hdev72

Can you please provide a code snippet or a repository to reproduce this? Thank you.

[2022-01-31 12:03] hdev72 commented on #500
Hello
I found problem and its not from colyseus , problem is in my android java repository.

[2022-01-31 12:03] #500 closed

[2022-01-31 13:27] hdev72 opened #501 "migrating to 14 Package subpath './lib/encoding/encode' is not defined by "exports" in ..... node_modules\@colyseus\schema\package.json"
hello dear friends
when i migrating from 13 to 14 in server side(npm install colyseus@^0.14.0 --save)  im getting this error:

Package subpath './lib/encoding/encode' is not defined by "exports" in ..... node_modules\@colyseus\schema\package.json
at throwExportsNotFound (internal/modules/esm/resolve.js:285:9)
    at packageExportsResolve (internal/modules/esm/resolve.js:508:3)
    at resolveExport

[2022-02-02 11:55] hdev72 opened #502 "TypeError: Cannot read property 'constructor' of undefined"
hello every one
im getting this error and cant fix it
do you know what is this i don have any constractor in my codes and changed all to .assign (migrating 14)

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/encoding/encode' is not defined by "exports" in D:\Android_Studio\Projectss\PlayMafia\Server JavaScript\serverRanked\node_modules\colyseus\node_modules\@colyseus\schema\package.

[2022-02-02 13:40] hdev72 commented on #502
resolved:
if MapSchema key is not string you will see this error : Cannot read property 'constructor' of undefined
It was very difficult for me to find this topic after one day: D

[2022-02-02 13:41] #502 closed

[2022-02-08 16:22] bentaller-lion opened #503 "What are the required versions of typescript and ts-node to build?"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Steps to Reproduce (for bugs)

1. NPM START in a blank generated project
2.
 17:17:46 ts-node-dev ver. 1.1.8 (using ts-node ver. 9.1.1, typescript ver. 3.9.10)
/colyseus/obliv/node_modules/@colyseus/arena/build/index.js:37
        path__default['default'].resolve(path__default['default'].dirname(

[2022-02-08 16:32] #503 closed

[2022-02-14 18:14] endel commented on #501
Hi @hdev72, are you still getting this error? Did you upgrade `@colyseus/schema` as well?

[2022-02-14 18:25] hdev72 commented on #501
Hello dear friend, no and i cant remember how i solved this error.

[2022-02-14 18:25] #501 closed

[2022-02-16 13:23] endel opened #505 "@colyseus/testing: new application is throwing internal error"
The following error shouldn't be happening on a new empty project:

[code]

----

How to reproduce:

[code]

[2022-02-22 14:04] #505 closed

[2022-03-07 12:51] endel opened #507 ".leave(true) - 1006 CLOSE ABNORMAL"
Reported by @wacaine on Discord:

---

Some of my players are getting a 1006 CLOSE ABNORMAL connection error (no close frame has been received). This appears to be a problem client side and the server closes the connection when this happens. I am using allowReconnection on server and on client in the onLeave I attempt to reconnect.  The reconnect works BUT something else still tries to end the use

[2022-03-07 13:03] zack1991 opened #508 "Spectate a running game"
How can i implement a player can spectate the running game.

[2022-03-09 10:53] jog1t opened #510 "Server does not sync state with clients on the latest version"
## Steps to Reproduce

Example CodesSandbox: https://codesandbox.io/s/dazzling-mountain-hwzfxh
1. Open CodeSandbox
2. Preview of HTML shows client's state (check console for more details).
3. Client sends `ping` message to server.
4. Server every 1s modifies the state.

## Context

Server receives `ping` messages, but client is not updated with the latest state. Checked with DevTools, server is no

[2022-03-09 19:36] endel commented on #510
Hi @jog1t,

Interesting find. It seems that [`defineTypes()`](https://github.com/colyseus/schema/blob/1ee5cca5fa2733b216ed3fbd6ad5a59e8820565c/src/annotations.ts#L348-L357) and defining plain JavaScript properties directly don't play nicely together:

[code]

I've just tried commenting out the property initializer and then your example works: ([See sandbox link](https://codesandbox.io/s/gifted-sam

[2022-03-09 20:58] jog1t commented on #510
@endel thanks for quick reply! 🙌🏻  Didn't have too much time today to look properly at this, but it looks like getters/setters are not set properly for properties with initial values. Will try to look at it in the following days.

[2022-03-13 12:38] jog1t commented on #510
It's looks like TypeScript's `type` decorator also does not work 😢. I've tried also using different versions, but without any luck. Here's the same example from CodeSandbox, but uses `ts-node` or `vite-node` to run the sever - https://github.com/jog1t/colyseus-issue-510.

🎉 What has worked for me is to define schema similar to this (see [working-solution branch](https://github.com/jog1t/colyseus-i

[2022-03-15 18:12] pauloreis7 opened #511 "Disconnect all players from the server at the end of a match"
Your issue may already be reported!
## Steps to Reproduce (for bugs)
It is not a bug

## Context

I can't figure out how to use room's disconnect() method on the server.

I have a round based game and when the third round is over I want to disconnect all players and save some data in the bank. Inside my state (GameState) that extends a colyseus schema I have a method (handleGameEnd) that is execut

[2022-03-15 18:21] #511 closed

[2022-03-23 14:15] ShukantPal opened #513 "Bug: MatchMakeError - {{roomId}} is full when room not available"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Steps to Reproduce (for bugs)

We haven't been able to reproduce this bug. My diagnosis of the problem is:

1. The matchmaker has it's own [local cache](https://github.com/colyseus/colyseus/blob/85bacb8068adfc215eb53c12b1f0f681ae0bbd44/packages/core/src/MatchMaker.ts#L32) of rooms, while the [Loc

[2022-03-23 14:17] ShukantPal commented on #513
We are using "@colyseus/core@0.14.24"

[2022-03-23 18:47] bartdorsey opened #514 "RoomAvailable interface is missing name property"
## Steps to Reproduce (for bugs)
1. call `const room: RoomAvailable[] = client.getAvailableRooms();`
2. try to access the .name property on one of the rooms.

## Context
The API returns the following object:

[code]

But the interface definition is this:
[code]

## Your Environment

* Colyseus Version: ^0.14.23
* Node.js Version: v16.14.0
* Operating System and version: Linux

[2022-03-25 11:00] zack1991 opened #515 "consented: false when calling leave() from server side"
When i am calling client.leave() or client.leave(1000) from server side then in OnLeave method of server side i am receiving consented value as false i think it should be true.

7l6EsqMAc disconnected from the room, consented : false

[2022-03-25 15:53] Faiz-exe opened #516 "state changes are missing on client side ( onStateChange)"
Hello, I am working on a project where a drawing an image on one app will get reflected in another, here is my schema

[code]
the idea is when I move the mouse the XY coordinates will be sent to the server, this works completely fine while moving the mouse slowly, but when I move it quickly the client-side is not receiving the entire data ( note that while moving the mouse quickly will send a lot

[2022-03-30 11:48] r301 opened #517 "Error building the project"
Hi, I'm having issues building the project and I wonder if anyone else is experiencing this or if I'm missing some steps.

## Steps to Reproduce
1. Download the code from master (same issue with the 0.14.18 release)
2. Run "npm install" to install the dependencies
3. Run "npm run build" to build
4. Build fails as follow:

**For the code from master:**
[!] Error: Unexpected token (Note that you nee

[2022-03-30 11:54] endel commented on #517
Hi @r301, there's another step required before building:

- `npm install`
- `npm run boot`
- `npm run build`

Let me know if that works for you.

It used to be easier to fork and make changes to Colyseus before we adopted a monorepo structure. If you have any ideas to make it easier to make manual changes and consume the forked module I'm open to suggestions. Cheers!

[2022-03-30 12:31] endel commented on #517
On a second thought, I think this error is related to Windows and `@rollup/plugin-typescript`: https://github.com/rollup/plugins/issues/1083

[2022-03-30 17:17] r301 commented on #517
Hi @endel, gotcha! Good to know all the steps, although it didn't solve the issue.
I think you are right, it is a Windows + `@rollup/plugin-typescript` issue.

Because you mentioned Windows, I assumed there was no issue on Mac and sure enough, I was able to build the project using the Windows Subsystem for Linux!
I'll work with that for now :) Thanks a lot 👍 !

[2022-03-30 17:17] #517 closed

[2022-04-07 17:59] pnutmath opened #518 "Colyseus node address is `null:80` in the event of Colyseus Proxy"
## Steps to Reproduce (for bugs)
1. Deploy colyseus server on kubernetes cluster

## Context
While running colyseus server as pod in kubernetes cluster. it throws `null:80` as node address through redis DISCOVERY_CHANNEL. Seems like `await ip.v4()` giving null as response

Following is event recieved on Colyseus proxy:
[code]

## Your Environment

* Colyseus Version: 0.14.23
* Node.js Version: 14.

[2022-04-07 18:12] pnutmath commented on #518
@endel FYI

[2022-04-08 01:19] WesleyClements commented on #510
This seems to only be a problem if you are compiling to or using javascript with ES Modules. [Public instance fields are added to instance using `Object.defineProperty` after `super()` in subclasses](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields#public_instance_fields) so the property defined in the `Schema` constructor is being overwritten.

[2022-04-10 22:11] hdev72 opened #519 "code:4213, error: Class constructor Room cannot be invoked without 'new'"
hello dear friends
my project working fine in ts but when i compile it to js in vs code im receiving following error when try to connect to room:
code:4213, error: Class constructor Room cannot be invoked without 'new'
i changed many time target of compilerOptions (es2015, 16 17 18 19 20) but problem not resolved
pls help me ❤️

[2022-04-11 09:11] hdev72 commented on #519
@endel hello dear, i have a question about this issue, Could the error be due to transpile from ts to js?

here you can see different of transpiled classes:

[2022-04-11 09:55] hdev72 commented on #519
i think error reason is this:
When your target option is set to something older than es6 (e.g. es5), TypeScript has to transpile your classes to functions, which could be problematic in some cases.

but i set target to es6

[2022-04-11 10:35] hdev72 commented on #519
resolvation:
changing target from tsconfig doesnt work for me
i used es6 in transpile command and worked :
tsc.cmd -t es6 index.ts      instead of      tsc.cmd index.ts

[2022-04-13 10:40] hdev72 commented on #519
Many friends suggested using es6 to fix this error, but using es6 causes many problems and errors and the entire JavaScript file must be edited and it is no longer possible to develop with typescript because after each time Transpile has to go through long steps again, it is better to solve this error (Class constructor Room cannot be invoked without 'new') in the same state of es5

[2022-04-14 02:08] #507 closed

[2022-04-26 22:44] baochungit commented on #470
What causes this error? In my case, it happens when I use setState.
Here is my code:

[code]

[2022-04-26 22:49] endel commented on #470
@baochungit please check if you're also using the latest version of the client. Both server and client must use the same version (0.14.x)

[2022-04-26 23:22] baochungit commented on #470
Maybe that is. I've just reinstalled node_modules then the error was gone.

[2022-05-02 02:13] #516 closed

[2022-05-02 02:13] #515 closed

[2022-05-03 21:14] pauloreis7 opened #520 "return value in onAuth command execute"
I am having trouble returning a value from within a command used in the onAuth method

## Steps to Reproduce
I have an onAuth method that uses a command
![image](https://user-images.githubusercontent.com/63323224/166565974-e860be3f-f73a-44e2-a48c-107fa2570592.png)

Within this command I perform some action on the database and return an error or void:
![image](https://user-images.githubusercontent.

[2022-05-04 13:05] endel commented on #520
Hi @pauloreis7, why don't you just use a function instead?

The command pattern is optional, and by design, they don't return any value. (You can read more about the pattern here https://gameprogrammingpatterns.com/command.html)

[2022-05-04 13:05] #520 closed

[2022-05-04 22:14] pauloreis7 commented on #520
Hi @endel, I am just starting out in game development, sorry for any problems, but I didn't think of using a function instead because I think that in a room we can only use commands.

In this case there would be no problem with good practice when using a JS function instead of a command?

[2022-05-13 14:23] amit-gshe opened #521 "Roomcount of the process not being deleted at gracefully shutdown"
When the matchmaker shutdown, it deletes the processId from the `roomcount`. It's ok in normal cases. But when creating new room in current process the matchmaker dose not check the current status of matchmaker dispite it was shutting down already.  This may lead to that the roomcount key would be added again and never be deleted.

Even worse the process won't preventing new rooms to be created in

[2022-05-13 14:27] endel commented on #521
Interesting, thanks for reporting @amit-gshe

[2022-05-15 02:12] #518 closed

[2022-05-17 12:11] lpsandaruwan commented on #513
Hi @ShukantPal

Can you please elaborate this? Perhaps a working example setup would be great. :+1:

[2022-05-20 09:30] Deja-vuuu opened #522 "Some questions about “getAvailableRooms” ！"
I expect I can upload some custom information when I create the room and this  “getAvailableRooms”  method to return more custom content.
For example I want to show who created the room . like The game room list shows XXXX's room.

Do I have to deal with the logic myself？If so, I also need to maintain a mapping table for the RoomID

[2022-05-20 12:51] endel commented on #522
Hi @Deja-vuuu, you can use `.setMetadata()` from the server-side to expose public room listing info: https://docs.colyseus.io/colyseus/server/room/#setmetadata-metadata

[2022-05-20 12:51] #522 closed

[2022-05-22 02:09] #519 closed

[2022-05-26 04:49] baochungit commented on #515
It should be 4000 (according to the code) for WS_CLOSE_CONSENTED

[2022-05-31 08:33] akroshteotia opened #525 "uWebSocketsTransport Have issue after reconnecting. ReadyState is not changing from 3 to 1."
## Steps to Reproduce (for bugs)
1. Connect to room.
2. Try reconnecting and then sending message just after reconnecting to client
3. It will throw error trying to send inactive client
4. While using Legacy its working perfectly.

### TransportCode
Currently i am using Legacy as not able to send messages after reconnect

        initializeTransport: (options) => {
        return new uWebSocketsTr

[2022-06-01 12:37] endel commented on #525
Hi @akroshteotia, would it be possible to share your project with us? Or a minimal reproduction scenario? Thanks!

[2022-06-08 02:11] #514 closed

[2022-06-12 11:29] amir-arad opened #526 "security issue with Redis dependency"
I got [a security alert for a bad version of Redis](https://github.com/starwards/starwards/security/dependabot/1) due to my `colyseus@0.14.23` dependency.

Ideally I wouldn't even have a redis dependency as I don't use Redis in my project.

## Steps to Reproduce (for bugs)
run a security scan

## Your Environment
* Colyseus Version: 0.14.23
* Node.js Version: any
* Operating System and version: an

[2022-06-17 19:31] endel commented on #439
Hi @JCMais, this has been taken care of on the upcoming 0.15 version 🤞  https://github.com/colyseus/colyseus/blob/3d6624239fa89e856aea2d1b82ac49d8647aedbb/packages/transport/uwebsockets-transport/src/uWebSocketsTransport.ts#L179

[2022-06-21 16:34] hdev72 commented on #94
hello
i hame Local schema mismatch from server. error only in android build.
in editor when i running game every thing is ok.

[2022-06-24 01:44] akroshteotia commented on #436
this is related to https://github.com/colyseus/colyseus/issues/525

[2022-06-24 02:12] akroshteotia commented on #525
this issue https://github.com/colyseus/colyseus/issues/436 is something related to this. After reconnect client dont send data because current state is 3 which means disconnected but to send data state need to 1 which means connected so its end up giving error `trying to send inactive client`

[2022-06-24 19:09] #525 closed

[2022-06-24 19:10] endel commented on #525
Thanks for the details @akroshteotia, can you try `@colyseus/uwebsockets-transport` version `0.14.28` and see if that works?

[code]

[2022-06-25 02:13] #513 closed

[2022-06-26 20:41] ClosetMonkey commented on #311
Benchmarking should be easy as long as you don't dive so far into it that your basically creating an emulator withing the service. All you need to do is make a module that will honestly represent network flows (can use mock data or even random bits), CPU usage can which be anything including long while loops, memory utilization which could be filling and draining buffers of random data, and same w

[2022-06-26 20:46] ClosetMonkey commented on #311
General purpose benchmarks can use such a system by first monitoring a real life game to see it's actual demands, and tuning the above to accurately copy it's demands. Such a benchmark can then be distributed without having to distribute the actual game, and can also be used for testing purposes etc.

[2022-06-26 20:55] ClosetMonkey commented on #311
The inherent desire when we first approach such a thing is to try to put it under a microscope and split every hair until we can fully define what it is and then reproduce our observation as perfectly as possible. That's not needed. All that is needed is accurate and honest representation of what those observations are (resource utilization), not so much the "how", the final product.

[2022-06-26 21:07] ClosetMonkey commented on #311
I'm certain that such a module can be used to represent a specific use case by adjusting just 4 or 5 lines withing a configuration script.

[2022-06-26 21:12] ClosetMonkey commented on #311
While almost all of the data can be random, it also needs to leverage the existing protocol enough to accurately incorporate the client side. This doesn't need to be done to move an actual object to see by our eyes, and likely shouldn't as that too will limit how the system can be used. While being able to show others a character running through a scene might be appealing, that isn't needed for be

[2022-06-27 01:38] akroshteotia commented on #525
Let me try @endel

Let me try @endel

[2022-07-15 20:53] german-teamflowhq commented on #513
Hey @lpsandaruwan, we just had this issue again. I hope I can clarify a bit more the problem.

Shukant's diagnosis is correct, the matchMaker cache goes out of sync with the LocalDriver's cache. Because of this, the MatchMaker tries to IPC, resulting in a timeout (we only have 1 colyseus instance).

We looked into the code, and [this is the only place were both caches can go our of sync](https://g

[2022-07-20 07:27] CookedApps opened #529 "uWebSockets support for Colyseus monitor"
## Context
We recently switched to uWebSockets transport layer together with the [uWebSockets-express](https://github.com/colyseus/uWebSockets-express) compatability layer. Since switching, we are not able to use Colyseus monitor anymore.

Trying to access the monitor gives the following error and I get a blank page:
[code]

Maybe I missed something, but it would be nice to be able to use the moni

[2022-07-20 13:18] endel commented on #529
Hi @CookedApps, I couldn't reproduce it, can you share a repo where this is reproducible?

Here's what I've done and it works fine:

[code]

[code]

![image](https://user-images.githubusercontent.com/130494/179992054-9af042a0-0bdc-4949-acbc-c7e50d1a75c3.png)

[2022-07-29 04:14] baochungit opened #531 "Session expired on reconnecting after leave another room"
From my experiences, I see that if I leave the previous room after joined the new room, I will face the session expired issue when reconnecting (while using the new sessionId of the current room). Is it how colyseus working or just a bug?

BTW, I'm finding a way to check if a player can join a room before moving forward. Any good approach to deal with it?

Thank you for taking your time!

## Steps

[2022-07-29 08:34] CookedApps commented on #531
We have experienced the same issue, but when using colyseus-proxy. Are you using the proxy?

You could use the [onAuth](https://docs.colyseus.io/colyseus/server/room/#onauth-client-options-request) method for that. Make your checks there and returning a negative result will cause the client not to connect to the room. You can even return custom status codes.

[2022-07-29 10:05] baochungit commented on #531
No, I'm not using colyseus-proxy for now.

About the onAuth method as you mentioned, is it possible to check if the room is not available to join (room disposed, reached maxClients value, ...) without actual joining? Because if I joined the room then I will face the session expired issue as talked above... Could you give a little more guide? Thanks!

[2022-07-29 11:34] baochungit commented on #531
Actually this is related to the Presence subscribe function. It seems that the new subscription will not be registered if I don't unsubscribe the previous one?

I'm using the presence subscribe to tell the client to leave unconsented so that the reconnecting will work

[2022-07-29 13:17] endel commented on #531
Hi @baochungit, can you share a minimal server code where we could reproduce the bad behavior you're experiencing?

(e.g. forking [colyseus-examples](https://github.com/colyseus/colyseus-examples) and implementing room code + client-side to reproduce a "session expired" error)

It's hard for us to reproduce without having the exact environment and usage you have.

[2022-07-29 14:55] baochungit commented on #531
Hi, after having a closer check, I found that it was my mistake :)
I'm using presence subscribe to a topic on each room but then call unsubscribe when the room disposed. I thought it will just unsubscribe the one in the current room but not, it unsubscribe all subscriptions having the same topic.

I don't know if you understand my case... but please close this one. Thanks!

[2022-07-30 00:01] #531 closed

[2022-08-02 16:03] german-teamflowhq opened #532 "MatchMakeError - {{roomId}} is full"
This issue was [already reported](https://github.com/colyseus/colyseus/issues/513), but it was closed due to inactivity. I'm here adding more information

## Steps to Reproduce (for bugs)

We found that if a room is disposed right after its creation, the matchMaker's cache and LocalDriver's cache goes out of sync.
This produces that people cannot join rooms, and those rooms cannot be disposed from

[2022-08-03 14:01] endel commented on #532
Hi @german-teamflowhq, can you provide a project that isolates and reproduces this issue you're experiencing?

(As a maintainer, I've personally wasted countless hours just trying to reproduce user's issues, that's not something I'm gonna do anymore!)

[2022-08-03 14:43] german-teamflowhq commented on #532
No, unfortunately the only way that I found to reproduce is by changing colyseus code.
Based on the logs, for some reason (maybe a bug, or maybe we dispose the room), the room was disposed almost instantly:

![image](https://user-images.githubusercontent.com/97966857/182632585-4437021c-7501-41b6-acec-b7b0110cef31.png)

I'll try to create a project that reproduces this from outside of the colyseus

[2022-08-08 06:12] qinfanheaven commented on #370
@endel try [OpenResty](https://github.com/openresty/openresty)
I have achieved the same proxy capability as colyseus/proxy

[2022-08-08 17:37] endel commented on #370
Hey @qinfanheaven, that's interesting! Would you mind sharing how you've approached replicating the functionality of `colyseus-proxy` with OpenResty?

[2022-08-09 01:10] qinfanheaven commented on #370
@endel Here is my simple demo, it works fine to me.(before using this, OpenResty should be installed)
[openresty.zip](https://github.com/colyseus/colyseus/files/9285925/openresty.zip)

[2022-08-09 01:31] qinfanheaven commented on #370
At the nginx worker init phase, I start a timer to keep watch the colyseus:nodes in redis.
The colyseus module mostly use lua-nginx-module to read or subscribe redis.
[code]

And when request comes, at the access phase, parse the request_uri ( same as colyseus-proxy)
to decide which Node should be set in proxy_pass(saved as proxyNode in nxg.ctx)
[code]

At the content phase, in balance_by_lua_file

[2022-08-09 19:38] smokeythebandit commented on #370
Hey Guys,

I'm currently deploying Colyseus in a Kubernetes cluster, and am running into issues with the proxy while stress testing.

I'd be able to implement the proxy in C++. To replicate the current functionality I think I can manage, but with regards to handeling reconnect in case a proxy crashes/connection drops I'm not sure how to deal with it.

Is this something you guys would be interested

[2022-08-14 18:25] PandaPalumbo opened #533 "ArraySchema not retaining value between functions"
## Steps to Reproduce (for bugs) relevent code is below
1. Execute a command to update state
2. command calls a function (generateRoll) that returns a 'Roll' schema
3. Adding breakpoint on return of generateRoll shows 'dice' ArraySchema having a value/members (pic attached)
4. Adding a breakpoint after the variable the return of generateRoll was assigned to shows 'dice' ArraySchema being empty.

^

[2022-08-15 15:08] endel commented on #533
Hi @PandaPalumbo, it would save us some time if you can provide a repository that we can quickly reproduce. Not sure what may be wrong in your code, my only suggestion would be to use `new Roll().assign({...})` instead of `new Roll({...})`. Cheers

[2022-08-15 15:11] mdpalumbo commented on #533
@endel Thanks a ton, let me try that and get back to you with the repo if needed.

[2022-08-15 15:14] PandaPalumbo commented on #533
Holy cow I feel silly, that worked for me. Thank you so much @endel

[2022-08-15 16:27] endel commented on #533
Nice, glad it worked out!

[2022-08-15 16:27] #533 closed

[2022-08-19 16:46] german-teamflowhq commented on #532
@endel Hope you are doing great.

We kept investigating this issue, and yesterday we found a way to reproduce this. It turns out that it was a race condition on our locking logic that avoids creating multiple rooms with the same roomId.

I'm still not sure if this was just us using the framework incorrectly, or if colyseus should be more resilient to this type of problems, so I created a [project]

[2022-08-26 02:42] baochungit opened #535 "Is there way to hook or a middleware at server side for client.joinOrCreate?"
Yep, it's not a bug :)

I'm looking for a way so that we can route the client to a suitable room without passing any options from client side.

For example:
when executing client.joinOrCreate('lobby'), the server side should detect some logics (player level, region...) and then decide to join or create a new room based on those logics.

Could you help me on it? Thanks a lot!

[2022-09-02 09:29] xhacker5000 commented on #270
after call
``matchMaker.createRoom('my_room',{create_token:'test_create_token'})``
when the client come
then error
``server.handleUpgrade() was called more than once with the same socket``

[2022-09-07 17:49] Ifmations opened #537 "Error: Invalid field access : length"
im trying to compile the base project for colyseus haxe and it keeps saying Error: Invalid field access : length, with nothing else. I don’t know what to do!

[2022-09-15 15:58] baaleze opened #538 "@filter on schema messes up patches sent to clients"
Hello

I'm currently working on a simple card game prototype. My room schema is as follows :
[code]
It works perfectly like this, but when I add the `@filter` annotation (commented above) to hide the hands of other players, then randomly the information received by the clients are wrong. I see the patch on the Websocket but they are not decoded properly and the cards that should be added to the ce

[2022-09-25 09:51] AlexanderDecode opened #539 "@colyseus/redis-presence yield error on build"
## Steps to Reproduce (for bugs)
1. Build the code: `yarn && tsc --project tsconfig.json`

tsconfig.json:
[code]

## Context
I attempt to build my project after adding colyseus package but is presented with an unusual error (see below). I do not use "@colyseus/redis-presence" package in my code but it still throw a interface error during build. I have tried to rebuild after I have removed the node

[2022-09-25 10:00] AlexanderDecode commented on #539
Solved by adding the skipLibCheck parameter set to true into my tsconfig.json file:
[code]

[2022-09-25 10:00] #539 closed

[2022-10-12 18:01] endel commented on #495
We had another report of this issue and prepared a fix for it on `@colyseus/schema@1.0.41`:  https://github.com/colyseus/schema/commit/45410801abefa92468222e1afe5946368bfab9b9

The root cause was initializing a child `Schema` instance as `null`:

[code]

This caused the encoder to encode a `DELETE_AND_ADD` operation, which during decoding ended up unintentionally dropping/garbage-collecting the ne

[2022-10-12 18:06] Sh1d0w commented on #495
Thanks I will try to reproduce tomorrow 👍

[2022-10-15 02:13] #537 closed

[2022-10-24 02:13] #538 closed

[2022-11-02 17:31] oyed opened #542 "Upgrade `mongoose` to v6"
## Steps to Reproduce
Attempt to connect to MongoDB Atlas (serverless mongodb) using the Mongoose Colyseus Driver.

## Context
Due to a change in MongoDB Atlas, v6+ of the `mongoose` driver library is required.

## Your Environment
* Colyseus Version: `@colyseus/core@0.14.36` & `@colyseus/mongoose-driver@0.14.22`
* Node.js Version: v18.12.0
* Operating System and version: Arch Linux
* Link to your

[2022-11-03 17:12] endel commented on #542
Hi @oyed, we've been using the `@colyseus/redis-driver` on production instead of `@colyseus/mongoose-driver` for a while. From 0.15 onwards, the `@colyseus/redis-driver` is going to be the recommendation. Thanks for the PR, though!

[2022-11-03 17:39] oyed commented on #542
Fair enough - does that mean the mongoose driver is being deprecated then? If not, it still makes sense to maintain the driver right?

Personally, using MongoDB Atlas as a database for Prisma, I can pull in client counts etc. natively without having to stitch one source to another, so it just made more sense to use it. I'm happy to create + maintain my own community driver for mongo though, should

[2022-11-13 09:53] pol2095 commented on #486
[Shaunmax](https://github.com/Shaunmax) find a [workaround](https://forum.starling-framework.org/d/23733-colyseus-for-air/25) using Haxe.

[2022-11-30 05:52] nmgwap opened #544 "Error: provided room name "room_name" not defined"
Hello ~
"Error: provided room name" room_name" not defined" Error: Provided room name" Room_name "not defined"
Version in use
"Node" : 16.10.0
"Colyseus" : 0.14.24
"Colyseus. Js" : 0.14.13
`<script>
import * as Colyseus from "colyseus.js"; // not necessary if included via <script> tag.

var client = new Colyseus.Client("ws://localhost:3300");
export default {
  name: "App",
  methods: {
    addRoo

[2022-11-30 06:49] nmgwap commented on #519
I had the same problem as you. I created the class in js and the prompt "Error: Class constructor Room cannot be invoked without 'new'" was invoked.

[2022-11-30 11:44] endel commented on #544
Hey @nmgwap, your server must `.define()` the room type, see here: https://docs.colyseus.io/colyseus/server/api/#define-roomname-string-room-room-options-any

[2022-11-30 11:44] #544 closed